<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>



    <h1>Students at KEA</h1>

    <a href="/create">Create new student</a>

    <table>
        <tr>

            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
        <tr th:each="student : ${stud}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
        </tr>
    </table>


</body>
</html>